<div class="d-flex flex-row justify-content-between" style="height: 100%; overflow: auto;">
  <div class="flex-column px-5 py-2">
    <div class="py-3">
      <i class="far fa-star st-for-icon mr-2"></i>
      <input placeholder="Type name" type="text" name="user">
    </div>
    <div class="py-3">
      <textarea placeholder="Your text here"></textarea>
    </div>
    <div class="py-3">
      <button type="button" class="but btn btn-green pad">Save</button>
    </div>
  </div>
  <div class="flex-column pt-4">
    <input placeholder="Image Url" name="img-user" type="text">
  </div>
</div>

