.bg{
  background-color: #9acd329e;
  height: 90px;
}
.btn-green{
  background-color: #6b8e235e;
  border-radius: 0rem!important;
  font-size: 1.2rem;
}
.btn-green:hover{
  background-color: #6B8E23;
  color: white;
}
