.st-for-icon {
  font-size: 2rem;
  margin-right: 3px;
  color: yellow;
}

.title {
  font-size: 2rem;
  font-weight: 600;
}

.text {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 2px;
}

.width {
  width: 60%;
}

.height {
  height: 100%;
  overflow: auto;
}

.marg-t{
  margin-top: 5rem;
}


