.bg{
  background-color: #80808047;
}
.height{
  height: 100%;
  overflow: auto;
}
.fontsize-title{
  font-size: 1.3rem;
  font-weight: 600;
}
//.titl-hov:link,.titl-hov:visited{
//  color: black;
//}
//.titl-hov:hover{
//  text-decoration: underline;
//  color: #6B8E23;
//}
.width{
  min-width: 450px;
}
.fontsize-text{
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 2px;
}
li{
  list-style-type: none;
}
