.bg {
  background-color: #80808047;
}

.height {
  height: 100%;
  overflow: auto;
}

.fontsize-title {
  font-size: 1.3rem;
  font-weight: 600;
}

.width {
  min-width: 450px;
}

li {
  list-style-type: none;
}
